<div class="container">
    <div class="p4">
        <table class="table table-hover">
            <thead class="bg-primary">
                <tr>
                    <td> Nombre </td>
                    <td> descripcion </td>
                    <td> <%= link_to "New",perros_new_path,class:"btn btn-primary"%> </td>
                </tr>
            </thead>
            <tbody>
                <% @pers.each do |perro|%>
                    
                <tr>
                    <td> <%= perro.nombre%> </td>
                    <td> <%= perro.descrip%> </td>
                    <td> <%= link_to "edit",perros_edit_path(perro),class:"btn btn-primary"%> 
                    <%= link_to "delete",perro,method: :delete, data: { confirm: "desea eliminarlo"} , class:"btn btn-danger"%> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>