<p id="notice"><%= notice %></p>

<div class="jumbotron">
Libros
</div>

<div class="container">


<table class="table">
  <thead class="table-primary">
    <tr>
      <th>Nombre</th>
      <th>Descrip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libs.each do |lib| %>
      <tr>
        <td><%= lib.nombre %></td>
        <td><%= lib.descrip %></td>
        <td><%= link_to 'Show' , lib  %></td>
        <td><%= link_to 'Edit', edit_lib_path(lib) %></td>
        <td><%= link_to 'Destroy' , lib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Lib', new_lib_path %>
