<div class="container">
    <div class="p-4">
        <table class="table">
            <thead class="bg-primary">
                <tr>
                    <td>Nombre </td>
                    <td>Descripcion </td>
                    <td>Cantidad </td>
                    <td> <%= link_to "New" ,mascotas_new_path,class:"btn btn-primary"%> </td>
                </tr>
            </thead>
            <tbody>
                <% @mascotas.each do |mascota|%>
                   <td><%= mascota.nombre%> </td>
                    <td><%= mascota.descrip%>  </td>
                    <td><%= mascota.cantidad%>  </td>
                    <td> <%= link_to "New" ,mascotas_new_path,class:"btn btn-primary"%> </td> 
                <% end %>
            </tbody>
        </table>
    </div>

</div>