<div class="container">
    <div class="p-4">
        <table class="table">
            <thead class="bg-primary">
                <tr>
                    <td>Nombre </td>
                    <td>Descripcion </td>
                    <td>Cantidad </td>
                    <td> <%= link_to "New" ,mascotas_new_path,class:"btn btn-primary"%> </td>
                </tr>
            </thead>
            <tbody>
                <% @mascotas.each do |masco|%>
                <tr>
                   <td><%= masco.nombre%> </td>
                    <td><%= masco.descrip%>  </td>
                    <td><%= masco.cantidad%>  </td>
                    <td> <%= link_to "Edit" ,mascotas_edit_path(masco),class:"btn btn-primary"%>
                        <%# <%= link_to "Eliminar" ,masco, method: :delete, data: { confirm: "Deseas eliminar esta mascota?"}  ,class:"btn btn-danger"%>
                     </td> 
                      </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</div>